html,
body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    background: black;
}

#game-lobby {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: lightblue;
    height: 60%;
    width: 18%;
}

#game-lobby #game-players {
    display: flex;
    flex-direction: column;
    height: 15%;
    width: 90%;
    padding: 5%;
    background-color: antiquewhite;
}

#game-lobby #game-chat {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    height: 75%;
    width: 100%;
    background-color: lightblue;
}

#game-lobby #game-chat .chat-message {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 80%;
    height: 10%;
    margin: 2%;
    background-color: white;
    border-radius: 10%;
}

#game-lobby #game-chat #chat-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 90%;
}

#game-lobby #game-chat #chat-input form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#game-lobby #game-chat #chat-input input {
    height: 100%;
    width: 70%;
}

#game-lobby #game-chat #chat-input button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120%;
    width: 30%;
}

#bomberman-dom-app {
    position: relative;
    height: 100%;
    width: 80%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game {
    position: relative;
    background-color: green;
    width: 480px;
    height: 416px;
}

.wall {
    position: absolute;
    background-color: rgb(128, 127, 127);
    height: 32px;
    width: 32px;
    border-radius: 8%;
    background-image: url("../assets/Classic_Stage-removebg-preview.png");
    background-position: 112px -217.5px;
    background-size: 3300%;

}

.soft-wall {
    position: absolute;
    height: 32px;
    width: 32px;
    background-image: url("../assets/Classic_Stage-removebg-preview.png");
    background-position: 42px -285px;
    background-size: 3300%;
    /* background-image: url("../assets/Enemies_Miscellaneous-removebg-preview.png");
    background-size: 3200%;
    background-position: 1px -58px; */
}

.space {
    position: absolute;
}

.player {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 28px;
    background-image: url("../assets/Bombermen-removebg-preview.png");
}

.bomb {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: black;
    color: white;
}

.explosion {
    position: absolute;
    width: 32px;
    height: 32px;
}

.fire {
    position: absolute;
    width: 32px;
    height: 32px;
}